<?xml version="1.0" encoding="utf-8"?>
<routes>
  <route route_type="admin" route_prefix="referral-system" controller="WarextStudios\ReferralSystem:ReferralCompat" context="wrxtReferralSystem"/>
  <route route_type="public" route_prefix="davetler" controller="WarextStudios\ReferralSystem:Referral" context="wrxtRefNav"/>
</routes>
